
body{
    margin: 0;
    padding: 0;
    min-height: 80vh;
}

.countries-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.Gruneda{
    position: relative;
    border: 1px solid;
    height: 380px;
    width: 280px;
    background-color: rgb(105, 185, 250);
    margin-top: 90px;
    margin-right: 35px;
    margin-left: 80px;
    cursor: pointer;
    display: inline-block;
}

.Gruneda-title{
    margin-left: 80px;
    margin-top: 60px;
    font-weight: bold;
}

.Gruneda-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Gruneda-description{
    margin-left: 17px;
}

.Gruneda-indepth{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Gruneda-title-indepth{
    margin-left: 550px;
    font-size: 35px;
}

.Gruneda-img, .NoManLand-img, .Ashtal-img{
    height: 300px;
    width: 300px;
    margin-left: 480px;
}

.NoManLand{
    position: relative;
    border: 1px solid;
    height: 380px;
    width: 280px;
    background-color: rgb(145, 145, 145);
    margin-top: 90px;
    margin-right: 35px;
    cursor: pointer;
    display: inline-block;
}

.NoManLand-title{
    font-weight: bold;
    margin-top: 60px;
    margin-left: 37px;
}

.NoManLand-title-indepth{
    margin-left: 520px;
}

.NoManLand-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NoManLand-description{
    margin-left: 17px;
}

.Ashtal{
    position: relative;
    border: 1px solid;
    height: 380px;
    width: 280px;
    background-color: rgb(252, 55, 55);
    margin-top: 90px;
    margin-right: 30px;
    cursor: pointer;
    display: inline-block;
}

.Ashtal-title{
    margin-left: 90px;
    margin-top: 60px;
    font-weight: bold;
}

.Ashtal-title-indepth{
    margin-left: 570px;
}

.Ashtal-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.Ashtal-description{
    margin-left: 17px;
}

.Gruneda-indepth, .NoManLand-indepth, .Ashtal-indepth{
    display: none;
}

.page-header{
    margin-left: 550px;
    margin-top: 50px;
}

.for-all-description{
    margin-top: 100%;
    opacity: 0;
    transition: 0.7s;
}

.card:hover .for-all-description{
    margin-top: 0;
    transition: 0.7s;
    opacity: 1;
}